@import url('https://fonts.googleapis.com/css2?family= Foldit :wght@300 & exibir=trocar');

.nav {
    margin-top: 1px;
    margin-left:30px;
    background: -webkit-linear-gradient(#007FFF, #385172); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#007FFF, #385172); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#007FFF, #385172); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#007FFF, #385172); /* Standard syntax */
    height:25px; 
    width:1200px;
    box-shadow:1px 1px 1px 1px #FFFFFF;
}

.nav a{
    font-family: Tahoma;
    font-size: 12px;
    color: #FFFFFF;
    padding:10px;
}

.nav li {
    margin-top: 2px;
    color:#fff;
}

.nav ul li {
    float:left; 
    display:inline; 
    padding:2px; 
    margin-left:8px;
}

.nav ul li a{ 
    text-decoration:none; 
    text-transform:capitalize; 	
}

.cadastros{
    height: 900px;
    color:#0f0e0e;
    font-family: 'Foldit', sans-serif;
    font-size: 12px;
    background-color: rgb(157, 167, 196);
}

.cadastra_estatisticas {
    padding: 8px;
    border-radius:10px;
}

.cad_estatisticas {
    padding: 8px;
    height:865px;
    background: linear-gradient(196.13deg, rgba(0, 0, 0, 0.35) -3.09%, rgba(36, 89, 223, 0.1) 98.12%);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.35);
}

.cad_estatisticas p{
    height: 12px;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    color:rgb(224, 227, 230);
    max-height:100px;
}

.cad_estatisticas label{
    margin-left:25px;
    text-align:left;
    font-family:arial;
    font-size:12px;
    color:#069;
}

.cad_estatisticas table{
    width: 455px;
    height: 45px;
    margin-top:2px;
}

.cad_estatisticas td {
    height: 6px;
    text-align:left;
    font-family:tahoma;
    font-size:10px;
    color:rgb(0, 0, 0);
    max-height:100px;
}

.cad_estatisticas table td input{
    font-size: 11px;
    letter-spacing: 1px;
    color: #000000;
    width:250px;
    height: 15px;
}

.cad_estatisticas input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin-left: 10px;
}

.cad_estatisticas select{
    width: 250px;
    height: 35px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 11px;
    letter-spacing: 1px;
    color: #312d2d;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin-left: 10px;
}

.cad_estatisticas input::placeholder {
    color: #000000;
}

.enviar_estatisticas input[type="submit"] {
    background: linear-gradient(196.13deg, rgba(86, 87, 105, 0.35) -3.09%, rgba(36, 89, 223, 0.1) 98.12%);;
    color: rgb(0, 0, 0);
    max-width: 200px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 500;
    width: 900px;
    height: 35px;
    margin-top: 15px;
    margin-left: 825px;
    box-shadow: 7px 7px 5px #4b564d;
    text-align: center;
}

.enviar_estatisticas input:hover[type="submit"] {
    color: rgb(255, 255, 255);
    max-width: 200px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 15px;
    width: 900px;
    height: 35px;
    margin-left: 825px;
}
